.search-area {
  width: auto;
  height: auto;
  background-color: rgb(218, 218, 218);
  padding: 20px 50px;
  text-align: center;
}
.MuiFormControl-root {
  margin: 0 auto;
  align-content: center;
  padding: 5rem;
}
.MuiButton-root {
  padding: 2rem;
  margin: 50px auto;
}
.MuiCard-root {
  margin: 50px auto;
  padding: 2rem;
}
.MuiButton-root a {
  text-decoration: none;
  font-size: large;
  color: blue;
}

.favorite {
  width: 70%;
  height: auto;
}
.favorite-container :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #8382821f;
}
.favoriteLink {
  text-decoration: none;
}
